
.product p:first-letter {
    font: 50px "Times New Roman", serif;
    font-style: oblique;
    color: rebeccapurple;
}
.product img:hover {
 border-color:transparent;
}

.product a img {
    width: 900px;
    border: solid 10px rgba(5, 5, 5, 0.404);
}

.productImage a img {
    float: left;
    width: 300px;
}
.briefDescription h2{
    margin-top: 0;
    padding-top: 0;
}

.briefDescription input {
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  width: 100px;
  height: 30px;
}

.briefDescription input:hover {
    background:-webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#e5ff00 100%);
}
.briefDescription input:active{
    background:-webkit-linear-gradient(top, #f8f8f8  0%,#f1f1f1 0%,#e1e1e1 1%,#3cff00 100%);
}
.briefDescription {
    padding:0 10px;
    margin: 0 5px;
    float: left;
    width: 500px;
    color:#707070;
    font: 14px/16px Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
 }

 .description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 }
 
 .characteristic {
    color: #04115ef3;
    font-size: 14px;
    font-weight: inherit;
    line-height: 15px;
    background-color: rgba(0, 0, 0, 0.034);
    list-style-image: url("../Images/arrow.png")
 }