@font-face {
    font-family: "Most Wanted Regular";
    src: url('../Fonts/Most_Wazted_Regular.otf');
}

h1,footer,
.menu fieldset,
.menu a,
.menu li,
.menu p {
    text-align: center;
}

.menu p {
    font: 100px "Most Wanted Regular", serif;
    font-weight: bolder;
    margin: 0;
}

body {
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

.menu li {
   list-style-type: none
}

.menu a { 
   color:green;
   font: 16px Georgia, 'Times New Roman', Times, serif;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: oblique;
   font-variant: small-caps;
   font-weight: bold;
}

.briefDescription {
   color:#707070;
   font: 14px/16px;
   font-style: italic;
}

.description{
   color: #484343;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
}

.characteristic {
   color: #04115ef3;
   font-size: 14px;
   font-weight: inherit;
   line-height: 15px;
   background-color: rgba(0, 0, 0, 0.034);
   list-style-image: url("../Images/arrow.png")
}

.menu input[type="text"], textarea {

    color:#0b006bf3;
    font: bold 18px Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    height: 25px;
}

.menu textarea[name="text"]{
    height: 250px;
}

h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.product img {
    width: 900px;
    border: solid rgba(5, 5, 5, 0.404);
}

.product h1+a img {   
    width: 500px;   
}

footer {
    text-align: center;
    font:20px "Most Wanted Regular", serif;
}
